{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="d-flex mt-5 gap-3 ">
            <div class="col-3">
                <div class="list-group">
                    <a href="" class="list-group-item list-group-item-action">Crime</a>
                    <a href="" class="list-group-item list-group-item-action">Sports</a>
                    <a href="" class="list-group-item list-group-item-action">Sports</a>
                    <a href="" class="list-group-item list-group-item-action">Sports</a>
                    <a href="" class="list-group-item list-group-item-action">Sports</a>
                    <a href="" class="list-group-item list-group-item-action">Sports</a>
                    <a href="" class="list-group-item list-group-item-action">Sports</a>
                    <a href="" class="list-group-item list-group-item-action">Sports</a>
                    <a href="" class="list-group-item list-group-item-action">Sports</a>
                    <a href="" class="list-group-item list-group-item-action">Sports</a>
                    <a href="" class="list-group-item list-group-item-action">Sports</a>
                </div>
            </div>
            <div class="col-9">
                {% for news in postData %}
                <div class="card mb-3">
                    <div class="card-header">
                        <h2>{{ news.title }}</h2>
                        <h6>{{ news.author }} | {{ news.date_of_post }}</h6>
                        <p class="lead">{{ news.content }}</p>
    
                        <div class="d-flex justify-content-end">
                            <a href="" class="btn btn-success">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}